footer{
    text-align: center;
    padding: 1.5rem 0;
    margin-top: 50rem;
    margin-left: 8px;
    margin-right: 8px;
    background-color: rgb(2, 31, 4) ;
    color: white;
}

footer ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

footer ul li {
    margin-top: 1rem;
}

footer ul a{
    color: white;
    font-weight: bold;
}

footer .social-media{
    
    display: flex;
    justify-content: center;
    gap: 18px;
    
    
     
}

footer .social-media a{
    color: white;
    
}

footer p {
    margin-top: 1rem;
    font-size: 0.9rem;
    opacity: 0.8;
}